<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>
    
    <%= render 'follow_form' %>
    
    <ul class="user-tabs">
      <li><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
      <li><%= link_to("フォロー", "/users/#{@user.id}/following")%></li>
      <li class="active"><%= link_to("フォロワー", "/users/#{@user.id}/followers")%></li>
    </ul>
    
    <%= @title %>   
    <%= @user.followers.count %>
      
    <%= will_paginate @users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
    
    <% end %>
  </div>
</div>
