<div class="main users-new">
  <div class="container">
    <div class="form-heading">ログイン</div>
    <div class="form users-form">
      <div class="form-body">
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>

        <%= form_tag("/login") do %>
          <p>メールアドレス</p>
          <input name="email" value="<%= @email %>">
          <p>パスワード</p>
          <input type="password" name="password" value="<%= @password %>">
          <div class="checkbox-inline">
          <input type="checkbox" name="remember_me" value="<%= @remember_me %>">
          <p>コンピューターに記憶させる</p><br>
          </div>
          <input type="submit" value="ログイン">
          <%= link_to "Facebookでログイン", user_facebook_omniauth_authorize_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
