<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        
        <%= form_tag("/users/create") do %>
          <p>ユーザー名</p>
          <input name="name" value="<%= @user.name %>">
          <p>メールアドレス</p>
          <input name="email" value="<%= @user.email %>">
          <p>パスワード</p>
          <input type="password" name="password" value="<%= @user.password %>">
          <p>確認パスワード</p>
          <input type="password" name="password_confirmation" value="<%= @user.password_confirmation %>">
          <input type="submit" value="新規登録">
          <%= link_to "Facebookでログイン", user_facebook_omniauth_authorize_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>