<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
    <%= form_tag("/posts/#{@post.id}/update", {multipart: true}) do%>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          
          <span class="picture">
            <!--バリデーションを反映する為にaccept-->
            <p>画像を投稿する</p>
            <input name="picture" type="file" accept='image/jpeg, image/gif, image/png'>
          <textarea name="content"><%= @post.content %></textarea>
          <input type="submit" value="保存">
        </div>
      </div>
    <% end %>
    
    <!--サイズのアラート-->
    <script type="text/javascript">
     $('#post_picture').bind('change', function(){
       var size_in_megabytes = this.files[0].size/1024/1024;
       if (size_in_megabytes >5){
         alert('最大ファイル容量は５MBです。より小さいファイル容量に変更してください.');
       }
     });
     </script>
  </div>
</div>