<footer class="footer">
　　 <nav>
　　  <ul>
　　  <% if @current_user %>
　　   <li>
　　     <%= link_to("写真を投稿する", "/posts/new") %>
　　   </li>
　　  <% else %>
　　     <li>
          <%= link_to("新規登録", "/signup") %>
         </li>
　　  <% end %>
      </ul>
     </nav>
    </footer>