<header class="navbar navbar-fixed-top navbar-inverse" style="background-color:#3ecdc6;">
    <div class="container">
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to("HelloApp2", "/posts/index") %>
        <% else %>
          <%= link_to("HelloApp2", "/") %>
        <% end %>
        </div>
      <nav>
      <ul class="nav navbar-nav navbar-right" style="background-color:#3ecdc6;" >
        <% if @current_user %>
          <li class="search-nav">
          <%= form_tag(root_path, method: :get) do %>
           <div class="input-group">
           <%= search_field_tag "q", params[:q], class: "form-control", placeholder: "キーワード検索" %>
           <span class="input-group-btn">
           <%= submit_tag "検索", class: "btn btn-default" %>
           </span>
           </div>
           <% end %>
          </li>
          <li>
            <%= link_to("投稿一覧", "/posts/index") %>
          </li>
          <li>
            <%= link_to("新規投稿", "/posts/new") %>
          </li>
          <li>
            <%= link_to("ユーザー一覧", "/users/index") %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to(@current_user.name + "さんのマイページ", "/users/#{@current_user.id}") %></li>
              <li><%= link_to("プロフィール編集", "/users/#{@current_user.id}/edit") %></li>
              <li class="divider"></li>
              <li><%= link_to("ログアウト", "/logout", {method: :post}) %></li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to("新規登録", "/signup") %>
          </li>
          <li>
            <%= link_to("ログイン", "/login") %>
          </li>
        <% end %>
      </ul>
      </nav>
      </div>
    </header>