<!DOCTYPE html>
<html>
  <head>
    <title>HelloApp2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
   
    <%= render 'layouts/header' %>
    
    <div class="container">
    <!--お知らせ-->
    <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>">
    <%= message %>
    </div>
    <% end %>
    <%= yield %>
    
    <%= render 'layouts/footer' %>
     
    </div>
    
  </body>
</html>